

.image{
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.3s ease-in;
    height: 400px;
}

.image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.link-button {
    
    color: rgb(0, 0, 0);
    border: 1px solid gray;
    background-color: #641160;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px #2a214b;
    transition: transform 0.2s, background-color 0.3s, color 0.3s ease-in-out;
}

.link-button:hover {
    background-color: #7a1f7a;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
}

#link {
    color: #00f;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

h1, h2, p {
    text-align: center;
    color: #f0f0f0;
    margin: 20px 0;
}



img {
    display: block;
    margin: 0 auto;
}